@layer base {
  :root {
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
    scrollbar-color: var(--color-primary) transparent;
    scrollbar-width: thin;
  }

  :focus-visible {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }
  .section {
    background-image: linear-gradient(
      233deg,
      rgba(0, 105, 255, 0.1) 1%,
      rgba(255, 255, 255, 0.05) 25%,
      rgba(250, 49, 212, 0.02) 37%,
      rgba(255, 255, 255, 0.05) 45%,
      rgba(213, 255, 247, 0.15) 100%
    );
  }

  .header,
  .aside,
  .footer {
    @apply border-solid border-white/50 bg-white/80 backdrop-blur-[2px];
  }

  .header {
    @apply border-b;
    box-shadow: 0px 2px 8px 0px rgba(0, 105, 255, 0.05);
  }

  .aside {
    @apply border-r;
    box-shadow: 0px 4px 8px 0px rgba(0, 105, 255, 0.05);
  }

  .footer {
    @apply border-t;
    box-shadow: 0px -4px 8px 0px rgba(0, 105, 255, 0.05);
  }

  .button-shadow-sm {
    box-shadow: 0px 0px 4px 0px var(--tw-shadow-color);
  }
  .button-shadow-md {
    box-shadow: 0px 4px 12px 0px var(--tw-shadow-color);
  }

  .overlay {
    @apply bg-background-overlay backdrop-blur-2xl;
  }

  .card,
  .popover {
    @apply bg-background-popover backdrop-blur-2xl;
    /* background: linear-gradient(116deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 99%); */
  }

  .dividing-wieght {
    --dividing-wieght: 1px; /* 分割线粗细 */
  }
  .dividing-wieght-bold {
    --dividing-wieght: 2px; /* 分割线粗细 */
  }
}
