@layer base {
  :root {
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
    scrollbar-color: var(--color-primary) transparent;
    scrollbar-width: thin;
  }

  :focus-visible {
    outline: none;
  }

  * {
    box-sizing: border-box;
  }

  .header,
  .aside,
  .footer {
    @apply bg-background-secondary border-border light:backdrop-blur-2xl border-solid;
  }

  .header {
    @apply border-b;
  }

  .aside {
    @apply border-r;
  }

  .footer {
    @apply border-t;
  }

  .overlay {
    @apply bg-background-overlay backdrop-blur-2xl;
  }

  .card,
  .popover {
    @apply bg-background-popover backdrop-blur-2xl;
  }

  .card {
    @apply border-border rounded-md border p-4;
  }

  .dividing-wieght {
    --dividing-wieght: 1px; /* 分割线粗细 */
  }
  .dividing-wieght-bold {
    --dividing-wieght: 2px; /* 分割线粗细 */
  }
}
