@custom-variant light (&:where(.light, .light *));

@theme {
  /* text */
  --text-xxs: 10px;
  --text-xxxs: 8px;

  /* shadow */
  --shadow-sm: 0px 0px 4px 0px var(--tw-shadow-color);
  --shadow-md: 0px 4px 12px 0px var(--tw-shadow-color);

  /* animate */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }
}

@theme {
  /* color */
  --color-primary: #8bfe83;
  --color-primary-foreground: #131313;
  /* --color-secondary: #4994ff;
  --color-info: #4994ff;
  --color-success: #00b42a;
  --color-destructive: #f53f3f;
  --color-warning: #ff7d00;
  --color-disabled: #a4a4a4; */

  --color-text-primary: #fff;
  --color-text-secondary: #898b8a;
  --color-text-tertiary: #737373;
  --color-text-placeholder: #9ca3af;
  /* 
  --color-text-disabled: #c9cdd4;
  --color-text-icon: #333; */

  --color-background-primary: #000000;
  --color-background-secondary: #131313;
  --color-background-tertiary: #191919;
  --color-background-popover: var(--color-background-secondary);
  --color-background-overlay: #3333331a;

  --color-border: #2a2a2a;
  /* --color-border-thin: #23252b; */

  --color-accordion-arrow: #2a2a2a;
}

@layer theme {
  .light {
    /* color */
  }
}
